.CheckoutSummary {
  width: 80%;
  text-align: "center";
  margin: auto;
}

.IngredientsDiv {
  width: 100%;
  margin: auto;
  border: solid 1px black;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}
